*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:10px;
}

.header-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-1 .logo{
    background-color: gray;
    width: 300px;
    height: 80px;
}

.header-1 .future{
    background-color: gray;
    width: 700px;
    height: 80px;
}

.header-2{
    background-color: gray;
    width: 1420px;
    height: 80px;
    margin-bottom: 20px;
}

.main-base{
    display: flex;
    flex-direction: row;
}

.main-1{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.main-1 .deal{
    background-color: gray;
    width: 700px;
    height: 300px;
    margin-bottom: 10px;
}

.main-1 .partners{
    background-color: gray;
    width: 700px;
    height: 300px;
    margin-bottom: 10px;
}

.main-1 .categorized{
    background-color: gray;
    width: 700px;
    height: 500px;
    margin-bottom: 10px;
}

.main-2{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.main-2 .membership{
    background-color: gray;
    width: 350px;
    height: 400px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.main-2 .insurance{
    background-color: gray;
    width: 350px;
    height: 710px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.main-3{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.main-3 .description{
    background-color: gray;
    width: 350px;
    height: 300px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.main-3 .last{
    background-color: gray;
    width: 350px;
    height: 400px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.main-3 .discussion{
    background-color: gray;
    width: 350px;
    height: 400px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.footer{
    background-color: gray;
    width: 1420px;
    height: 150px;
    margin-bottom: 20px;
}

.text{
    color: white;
    font-size: 27px;
    text-align: center;
    padding-top: 10px;
}